.vp-doc .el-descriptions tr:nth-child(2n) {
  background-color: transparent;
}

.el-table__header-wrapper {
  min-height: auto;
  min-width: auto;
}

.vp-doc .el-table table {
  margin: 0;
}

.vp-doc:is(:not(.el-table)) table {
  width: 100%;
  display: table;
}

.vp-doc .el-table tr {
  border-top: 0;
}

.vp-doc .el-table th,
.vp-doc .el-table td {
  border: none;
}

table {
  table-layout: fixed;
  width: 100%;
}
table td {
  word-wrap: break-word;
}
