@include ns('table-pro') {
  --table-pro-padding: 12px 0;

  @include b('action') {
    padding: var(--table-pro-padding);
  }

  @include b('select-action') {
    --#{namespace}-select-action-background: var(--el-color-info-light-9);
    --#{namespace}-select-action-color: var(--el-text-color-regular);

    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    background: var(--#{namespace}-select-action-background);
    color: var( --#{namespace}-select-action-color);
    padding: 12px;
    font-size: 14px;
    margin-bottom: 12px;
  }
}
